---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>
  
<span class='st_sharethis_small' displayText='ShareThis'></span>
<span class='st_facebook_small' displayText='Facebook'></span>
<span class='st_twitter_small' displayText='Tweet'></span>
<span class='st_linkedin_small' displayText='LinkedIn'></span>
<span class='st_email_small' displayText='Email'></span>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html disqus_identifier=page.disqus_identifier %}
</article>
